.bg-dark{
    background-color: hsl(222, 14%, 10%) !important;
}

.bg-light{
    background-color: #20232a;
}

.blue-txt{
    color: #61dafb;
}

.white-txt{
    color: #ffffff !important;
}

.header-style{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.input-div-style{
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.items-box{
    margin: 20px 0px 20px 0px;
    width: 20% !important;
    margin: auto !important;
    text-align: center ;
}

.item{
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.cursor-pointer :hover{
    cursor: pointer !important
}